# Default ignored files
/workspace.xml
/libraries/Gradle__androidx_activity_activity_1_1_0_aar.xml
/libraries/Gradle__androidx_activity_activity_ktx_1_1_0_aar.xml
/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/libraries/Gradle__androidx_collection_collection_ktx_1_1_0_jar.xml
/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/libraries/Gradle__androidx_core_core_1_3_1_aar.xml
/libraries/Gradle__androidx_core_core_ktx_1_3_1_aar.xml
/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_0_aar.xml
/libraries/Gradle__androidx_fragment_fragment_1_2_4_aar.xml
/libraries/Gradle__androidx_fragment_fragment_ktx_1_2_4_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_2_0_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_2_0_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_2_0_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_2_0_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_2_0_aar.xml
/libraries/Gradle__androidx_navigation_navigation_common_2_3_0_aar.xml
/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_3_0_aar.xml
/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_0_aar.xml
/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_3_0_aar.xml
/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_0_aar.xml
/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_3_0_aar.xml
/libraries/Gradle__androidx_navigation_navigation_ui_2_3_0_aar.xml
/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_3_0_aar.xml
/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/libraries/Gradle__com_google_android_material_material_1_2_0_aar.xml
/vcs.xml
